* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.App {
    background-color: black;
    color: white;
    padding: 0px 4vw;
}

.header {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header span {
    font-size: 24px;
}

.top {
    height: calc(100vh - 70px);
}

.top-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.row {
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: center;
    height: 100%;
}

.top-content .left {
    width: 40%;
}

.top-content h1 {
    font-size: 6vw;
    background: -webkit-linear-gradient(#e906e7, #0f85ef);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.top-content p {
    margin-top: 2.5vw;
    font-size: 14px;
}

.top-content .right {
    width: 60%;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
}

.searchBar {
    width: fit-content;
    height: fit-content;
    position: relative;
    margin-bottom: 2vw;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBar input {
    height: 50px;
    width: 300px;
    border-style: none;
    border-radius: 25px;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    color: white;
    background-color: transparent;
}

.searchBar button {
    background-color: transparent;
    color: white;
}

.card {
    width: 225px;
    height: 150px;
    background-color: #0f85ef;
    border-radius: 25px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 2vw;
}

.card-butn-gr {
  margin-top: 3vw;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-butn {
    cursor: pointer;
    color: #000;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.pagination-item {
    background: #fff;
    border: 2px solid #666;
    padding: 10px 15px;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    position: relative;
    margin: 0 5px;
    cursor: pointer;
}

.pagination-item span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.prev,
.next {
    background: #fff;
    border: none;
    padding: 10px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    margin: 0 10px;
    cursor: pointer;
}

.pagination-item.active {
    border: 1px solid #888;
    color: #888;
    pointer-events: none;
}

.prev.disabled,
.next.disabled {
    pointer-events: none;
    box-shadow: none;
    color: #999;
}

.addGroup {
    position: absolute;
    bottom: 30px;
    left: 0;
    display: flex;
    align-items: center;
}

.form-wrapper {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
}

.form-wrapper.true {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    height: 250px;
    background-color: #9c27b0;
    border-radius: 10px;
    padding: 0px 2vw;
}

.form h2 {
    margin: 0 0 30px;
    color: white;
    text-align: center;
}

.form input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    background: transparent;
}

.form input::placeholder {
    color: white;
    opacity: 1;
}

.btn-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
}

.btn {
    padding: 6px 15px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #0f85ef;
}




